[flake8]
# Notes:
#     W503: https://peps.python.org/pep-0008/#should-a-line-break-before-or-after-a-binary-operator
ignore = E261, W293, W503
max-line-length = 200
exclude = .git,.github,__pycache__,.pytest_cache,.venv,.venv_test,.vscode
max-complexity = 10